$footer-background-color: var(--color-ui) !default
$footer-border-color: var(--color-ui-hard) !default

.footer
    display: block
    position: relative
    background-color: $footer-background-color
    border-top: 1px solid $footer-border-color
