$box-background-color: $container-color !default
$box-border-color: $component-secondary-color !default

.box
    background-color: $box-background-color
    border: 1px solid $box-border-color
    padding: 1rem

    // +media-from-md
    //     padding: 1rem
